<% provide(:title, 'About Us') %>

<div>

<h1>About Us</h1>
<p>
  View Luke's Google Plus profile and discover my blog via the following link 
  <a href="https://plus.google.com/u/0/103113786777929863499/posts">Luke's Profile</a>.

  Visit other similar sites at the following links:

<table style="border: 1px solid black; margin: 10px;">
	<tr>
		<th>Website Link to App</th>
		<th>PivotTracker</th>
		<th>Author</th>
	</tr>
	<tr>
		<td><a href="http://Trendmyhunch.herokuapp.com" target="new">Trendmyhunch</a></td>
		<td><a href="https://www.pivotaltracker.com/s/projects/1006720" target="new">Trendmyhunch</a></td>
		<td>Luke Schoen</td>
	</tr>
	<tr>
		<td><a href="https://forage-for.herokuapp.com/" target="new">Forage app</a></td>
		<td><a href="https://www.pivotaltracker.com/s/projects/1006726" target="new">Forage app</a></td>
		<td>Sam Peters</td>
	</tr>
	<tr>
		<td><a href="http://letsgettickets.herokuapp.com" target="new">get tickets</a></td>
		<td><a href="https://www.pivotaltracker.com/s/projects/1006706" target="new">get tickets</a></td>
		<td>Marcus Hoile</td>
	</tr>
	<tr>
		<td><a href="http://threethrees.herokuapp.com/login" target="new">threethrees - task tracking</a></td>
		<td><a href="https://www.pivotaltracker.com/s/projects/1006728" target="new">threethrees - task tracking</a></td>
		<td>Luke Mesiti</td>
	</tr>
	<tr>
		<td><a href="http://tripforecast.herokuapp.com/" target="new">My Weather Trip</a></td>
		<td><a href="https://www.pivotaltracker.com/s/projects/1006734" target="new">saraluforecast</a></td>
		<td>Federico Tagliabue</td>
	</tr>
	<tr>
		<td><a href="https://wditwitter.herokuapp.com/" target="new">twitter test</a></td>
		<td><a href="https://www.pivotaltracker.com/s/projects/1006722" target="new">Twitter</a></td>
		<td>Pranava Swaroop</td>
	</tr>
	<tr>
		<td><a href="#" target="new">Unknown</a></td>
		<td><a href="https://www.pivotaltracker.com/s/projects/1006724" target="new">evitica</a></td>
		<td>Emily McCartney</td>
	</tr>
	<tr>
		<td><a href="http://alfredhh.herokuapp.com/" target="new">alfred</a></td>
		<td><a href="https://www.pivotaltracker.com/s/projects/1006714" target="new">alfred</a></td>
		<td>Alberto Forni</td>
	</tr>
	<tr>
		<td><a href="http://forgetmeknot.herokuapp.com" target="new">forget me knot</a></td>
		<td><a href="https://www.pivotaltracker.com/s/projects/1006748" target="new">forget me knot</a></td>
		<td>Lauren Krueger</td>
	</tr>
	<tr>
		<td><a href="http://howdoilook.herokuapp.com/" target="new">howdoilook</a></td>
		<td><a href="#" target="new">TBC</a></td>
		<td>Nick Morgan</td>
	</tr>
	<tr>
		<td><a href="http://ga-news.herokuapp.com" target="new">ga news</a></td>
		<td><a href="#" target="new">TBC</a></td>
		<td>Ed Fastovski</td>
	</tr>

</table>
</p>
</div>