<% provide(:title, 'Contact Us') %>
<h1>Contact Us</h1>
<p>
  Contact Luke via his Google Plus profile and discover his blog via the following link 
  <a href="https://plus.google.com/u/0/103113786777929863499/posts">Luke's Profile</a>.
</p>