<% provide(:title, 'Help') %>
<h1>Help</h1>
<p>
  The purpose of this site is to accelerate MVP robustness with repeatable validation against the latest trends for lean entrepreneurs, angel investors, and venture capitalists. Try it out!

  If you have any questions please contact Luke in person or via his Google Plus profile where you will discover his blog: 
  <a href="https://plus.google.com/u/0/103113786777929863499/posts">Luke's Profile</a>.
</p>