<% provide(:title, 'Footer') %>

<hr>
<div>
	<strong>Progress</strong>	
</div>
<div style="clear: left; background-color: #eeccff; width: 400px;"><br>
	<span style="margin-left: 75px">Stage 1&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Stage 2&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Stage 3&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Stage 4</span><br>
	<strong>Progress</strong><%= range_field_tag(:progress, 10, :min => 0, :max => 100, disabled: true, id: 'progress') %>
</div>

<div style="border:4px solid purple; display: inline-block; clear: left; "><%= link_to 'About Us', static_pages_about_us_path %></div>
<div style="border:4px solid purple; display: inline-block;"><%= link_to 'Contact Us', static_pages_contact_us_path %></div>
<div style="border:4px solid purple; display: inline-block;"><%= link_to 'Blog', 'http://lukeschoen.blogspot.com' %></div>



