<% provide(:title, 'Footer') %>
<!--
	<div style="display: inline-block; clear: left; "><%#= link_to 'About Us', static_pages_about_us_path %> | </div>
	<div style="display: inline-block;"><%#= link_to 'Contact Us', static_pages_contact_us_path %> | </div>
	<div style="display: inline-block;"><%#= link_to 'Partners', 'https://generalassemb.ly' %> | </div>
	<div style="display: inline-block;"><%#= link_to "Luke's Blog", 'http://lukeschoen.blogspot.com' %></div>

-->

	<div style="display: inline-block;">

	© 2014 Trendmyhunch by Luke Schoen.
	</div>

	<div style="display: inline-block;">
		<a href="http://api.whatthetrend.com/"><img src="http://api.whatthetrend.com/images/wtt_api_badge_120.png" border="0"></a>
	</div> 


