<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  <h1><%= @enquiry.subject %></h1>
  <p><%= @enquiry.body %></p>
</body>
</html>

<!--    <h1>Thank you for your feedback from <a href="http://trendmyhunch.herokuapp.com" target="new">Trendmyhunch</a>, <%#= @name %></h1>  -->