// Place all the styles related to the Ideas controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap";

// ALL

//* {
//	border: 1px solid black;
//}

// HEADER

#nav {
	width: 700px;
}

.bg-primary_ls_round {
	-moz-border-radius: 20px; 
	-webkit-border-radius: 20px;
	border-radius: 20px; /* future proofing */
}

#progress {
	vertical-align: top;
}


// BODY

// TABLES

.name_desc { width: 150px; }

.auth_locn_url { width: 75px; }

.user { width: 50px; }

.worthy { width: 70px; }

.show_edit { width: 30px; }

